<div class="card {{ cardClass }}">
  <div class="header">
    <h4 class="title"> {{ title }}</h4>
    <p class="category">{{ subtitle }}</p>
  </div>

  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th *ngFor="let header of data.headerRow">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of data.dataRows">
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
