<html>
    <head>
        <script src="https://kit.fontawesome.com/97b9a0becc.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h4 class="title"><b>Primer pilar: El fin de semana</b></h4>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" href="" class="boton-rojo" (click)="generateExcel()" >Descargar base</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Filtrar por fecha</label>
                                            <input type="date" class="form-control" placeholder="Filtrar por fecha" value="Mike" display="Filtrar por fecha">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>Buscar</label>
                                            <input type="text" class="form-control" placeholder="" value="">                        
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <br>
                                            <a routerLink="/nuevoPrimerPilar" class="boton-rojo pull-right">Crear nuevo</a>                                                                   
                                        </div>
                                    </div>
                            </div>
                            </div>
                            <div class="content table-responsive table-full-width">
                                  <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                          <th></th>
                                          <th>Fecha</th>
                                          <th>Número de FDS</th>
                                          <th>Número de matrimonios vivieron</th>
                                          <th>Número de sacerdotes vivieron</th>
                                          <th>Acciones</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tableData1.dataRows; let i=index" >
                                          <th>{{row.id}}</th>
                                          <td>{{row.fechaCreacion}}</td>
                                          <td>{{row.numFDS}}</td>
                                          <td>{{row.numMatrinoniosVivieron}}</td>
                                          <td>{{row.numSacerdotesVivieron}}</td>                                  
                                          <td>
                                            <button (click)="editRow(row)">
                                              <i class="fas fa-edit"></i>
                                            </button>
                                            <button (click)="deleteRow(row)">
                                              <i class="fas fa-trash"></i>
                                            </button>
                                          </td>                                                
                                        </tr>
                                      </tbody>
                                  </table>        
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>
