<div id="slider" class="slider">
  <div class="slide" id="slide-left">
    <div class="slide-holder">
      <div class="slide-bg bg-previous"></div>
      <div class="slide-bg bg-current"></div>
      <div class="slide-bg bg-next"></div>
    </div>
  </div>
  <div class="slide" id="slide-center">
    <div class="slide-holder">
      <div class="slide-bg bg-previous"></div>
      <div class="slide-bg bg-current"></div>
      <div class="slide-bg bg-next"></div>
    </div>
  </div>
  <div class="slide" id="slide-right">
    <div class="slide-holder">
      <div class="slide-bg bg-previous"></div>
      <div class="slide-bg bg-current"></div>
      <div class="slide-bg bg-next"></div>
    </div>
  </div>
</div>

<a href="#" class="arrow" id="left-arrow"><i class="fa fa-arrow-circle-o-left"></i></a>
<a href="#" class="arrow" id="right-arrow"><i class="fa fa-arrow-circle-o-right"></i></a>
