<div class="card">
  <div class="header d-flex justify-content-between align-items-center">
    <h4 class="title" style="color: #357;">Liste des Blogs</h4>
    <a [routerLink]="['/add-blog']" title="Ajouter un blog">
      <i class="fa fa-plus" style="font-size: 22px; color: #38B; cursor: pointer;"></i>
    </a>
  </div>
  <div class="content">
    <div class="row" *ngFor="let blog of blogs">
      <div class="col-md-2">
        <img [src]="blog.image" alt="image blog" style="width: 100%; height: 100px; object-fit: cover; border-radius: 8px;">
      </div>
      <div class="col-md-10">
        <h5>{{ blog.titre }}</h5>
        <p>{{ blog.contenu }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span *ngFor="let tag of blog.tags" class="badge bg-info text-white me-1">{{ tag }}</span>
          </div>
          <div>
            <i class="fa fa-heart" style="color: #E44;" aria-hidden="true"></i> {{ blog.likes }}
            <i class="fa fa-pencil mx-2 text-primary" (click)="editBlog(blog.id)" style="cursor: pointer;"></i>
            <i class="fa fa-trash text-danger" (click)="confirmDelete(blog.id)" style="cursor: pointer;"></i>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</div>
