<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo cuarto pilar</h4>
                    </div>                    
                    <div class="content">
                        <form>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mes</label>
                                        <br>
                                        <select name="Meses" id="lang" class="form-control" value=" ">
                                            <option value="Enero">Enero</option>
                                            <option value="Febrero">Febrero</option>
                                            <option value="Marzo">Marzo</option>
                                            <option value="Abril">Abril</option>
                                            <option value="Mayo">Mayo</option>
                                            <option value="Junio">Junio</option>
                                            <option value="Julio">Julio</option>
                                            <option value="Agosto">Agosto</option>
                                            <option value="Septiembre">Septiembre</option>
                                            <option value="Octubre">Octubre</option>
                                            <option value="Noviembre">Noviembre</option>
                                            <option value="Diciembre">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Año</label>
                                        <br>
                                        <input type="text" id="Años" name="Años" pattern="^[0-9]+$"class="form-control" maxlength="4">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° Servidores de Post-Encuentro activos</label>
                                        <br>
                                        <input type="text" id="ServidoresPostEnc" name="ServidoresPostEnc" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° FdS Servidores Post-Encuentro en el periodo</label>
                                        <br>
                                        <input type="text" id="FdsServidoresPostEnc" name="DiocesisTercerPilar" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° Matrimonios que vivieron Servidores Post-Encuentro</label>
                                        <br>
                                        <input type="text" id="MatrimoniosServidoresPostEnc" name="MatrimoniosServidoresPostEnc" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Comunidades de apoyo</label>
                                        <br>
                                        <input type="text" id="ComunidadesDeApoyo" name="ComunidadesDeApoyo" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Servidores de comunidad</label>
                                        <br>
                                        <input type="text" id="ServidoresDeComunidad" name="ServidoresDeComunidad" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Matrimonios Asistentes por Comunidad</label>
                                        <br>
                                        <input type="text" id="MatrimoniosAsistentesComunidad" name="MatrimoniosAsistentesComunidad" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="boton-rojo">Crear nuevo</button>
                                    <a routerLink="/cuartoPilarGrid" class="boton-gris">Cancelar</a>                                
                                </div>
                            </div>
                            
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
