<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo tercer pilar</h4>
                    </div>
                    
                    <div class="content">
                        <form #formularioTercerPilar="ngForm" (ngSubmit)="newPilar()">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <div class="input-group date" data-provide="datepicker">
                                              <input type="date" class="form-control" id ="fecha" name="fecha">
                                              <div class="input-group-addon">
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Regiones</label>
                                        <br>
                                        <select name="numRegiones" id="numRegiones" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="1">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Diócesis Establecidas</label>
                                        <br>
                                        <select name="numDiocesisEstablecidas" id="numDiocesisEstablecidas" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="1">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Diócesis Contacto</label>
                                        <br>
                                        <select name="DiocesisContactoTercerPilar" id="numDiocesisContacto" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="1">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Diócesis en Expansión</label>
                                        <br>
                                        <select  id="numDiocesisExpansion" class="form-control">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="1">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="boton-rojo">Crear nuevo</button>
                                    <a routerLink="/tercerPilarGrid" class="boton-gris">Cancelar</a>                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Nuevo tercer pilar</h4>
                    </div>
                    
                    <div class="content">
                        <form>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Mes</label>
                                        <br>
                                        <select name="Meses" id="lang" class="form-control" value=" ">
                                            <option value="Enero">Enero</option>
                                            <option value="Febrero">Febrero</option>
                                            <option value="Marzo">Marzo</option>
                                            <option value="Abril">Abril</option>
                                            <option value="Mayo">Mayo</option>
                                            <option value="Junio">Junio</option>
                                            <option value="Julio">Julio</option>
                                            <option value="Agosto">Agosto</option>
                                            <option value="Septiembre">Septiembre</option>
                                            <option value="Octubre">Octubre</option>
                                            <option value="Noviembre">Noviembre</option>
                                            <option value="Diciembre">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Año</label>
                                        <br>
                                        <input type="text" id="Años" name="Años" pattern="^[0-9]+$"class="form-control" maxlength="4">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Regiones</label>
                                        <br>
                                        <input type="text" id="RegionesTercerPilar" name="RegionesTercerPilar" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Diócesis Establecidas</label>
                                        <br>
                                        <input type="text" id="DiocesisTercerPilar" name="DiocesisTercerPilar" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Diócesis Contacto</label>
                                        <br>
                                        <input type="text" id="DiocesisContactoTercerPilar" name="DiocesisContactoTercerPilar" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>N° de Diócesis en Expansión</label>
                                        <br>
                                        <input type="text" id="DiocesisExpansionTercerPilar" name="DiocesisExpansionTercerPilar" pattern="^[0-9]+$"class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="boton-rojo">Crear nuevo</button>
                                    <button type="submit" class="boton-gris">Cancelar</button>
                                </div>
                            </div>
                            
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
