.user-section {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .user-button {
    border: none;
    background-color: #e15859;
    color: #ffffff;
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 10px; /* Ajusta el valor para cambiar la curvatura de las esquinas */
  }
  
  .user-button:hover {
    background-color: #c54d4e;
  }