<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body class="about-page">

<app-header-home-page></app-header-home-page>

<section class="about-banner">
  <div class="about-container">
    <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
  </div>
</section>

<section class="about-section about-first">
  <div class="about-container">
    <div class="about-media-wrapper">
      <div class="about-video-left">
        <video #aboutVideo loop playsinline preload="auto">
          <source src="/assets/videos/about_us.mp4" type="video/mp4">
          {{ 'ABOUT.VIDEO.NOT_SUPPORTED' | translate }}
        </video>
        <button class="sound-toggle" (click)="toggleSound()">
          {{ soundOn ? '🔊' : '🔇' }}
        </button>
      </div>
      <div class="about-text-right">
        <p>{{ 'ABOUT.FIRST.PARAGRAPH' | translate }}</p>
        <a class="about-cta" href="#second-section">{{ 'ABOUT.FIRST.CTA' | translate }}</a>
      </div>
    </div>
  </div>
</section>

<section class="about-section about-second" id="second-section">
  <div class="about-container">
    <div class="about-left-img">
      <div class="image-slider">
        <img *ngFor="let image of EventImages" [src]="image.src" [alt]="image.alt" [class.active]="image.active">
      </div>
    </div>
    <div class="about-right-content">
      <h2>{{ 'ABOUT.SECOND.TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.SECOND.PARAGRAPH' | translate }}</p>
      <a class="about-cta" href="https://www.facebook.com/share/r/18qp6ef6pz/">{{ 'ABOUT.SECOND.CTA' | translate }}</a>
    </div>
  </div>
</section>

<section class="about-section about-third">
  <div class="about-container">
    <div class="about-left-content">
      <h2>{{ 'ABOUT.THIRD.TITLE' | translate }}</h2>
      <p>{{ 'ABOUT.THIRD.PARAGRAPH' | translate }}</p>
      <a class="about-cta" href="https://www.facebook.com/photo?fbid=1000870172050193&set=pcb.1000872852049925">{{ 'ABOUT.THIRD.CTA' | translate }}</a>
    </div>
    <div class="about-right-img">
      <div class="image-slider">
        <img *ngFor="let image of TeamBuildingImages" [src]="image.src" [alt]="image.alt" [class.active]="image.active">
      </div>
    </div>
  </div>
</section>

<section class="about-section about-four">
  <h2>{{ 'ABOUT.FOURTH.TITLE' | translate }}</h2>
  <div class="carousel-container">
    <button class="nav" (click)="prevMembre()">❮</button>
    <div class="carousel-slide">
      <div class="about-member" *ngFor="let membre of visibleMembres">
        <img [src]="membre.image" [alt]="membre.prenom + ' ' + membre.nom">
        <h3>{{ membre.prenom }} {{ membre.nom }}</h3>
        <p>{{ membre.profession }}</p>
      </div>
    </div>
    <button class="nav" (click)="nextMembre()">❯</button>
  </div>
</section>

<section class="about-section about-six">
  <div class="about-container">
    <h4>{{ 'ABOUT.SIXTH.TITLE' | translate }}</h4>
    <p>{{ 'ABOUT.SIXTH.PARAGRAPH1' | translate }}</p>
    <img src="/assets/img/letsgetstarted.jpg" alt="Collaboration Tunav IT Group">
    <p><i>{{ 'ABOUT.SIXTH.PARAGRAPH2' | translate }}</i></p>
    <a class="about-cta" href="#" (click)="contact($event)">{{ 'ABOUT.SIXTH.CTA' | translate }}</a>
  </div>
</section>
<br><br><br>
<app-footer-home-page></app-footer-home-page>
</body>
</html>
