
<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Editar Usuario</h4>
                    </div>
                    <div class="content">
                        <form  [formGroup]="usuariosEditarForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Fecha</label>
                                            <div class="input-group date" data-provide="datepicker">
                                                <input type="date" class="form-control" id ="fechaCreacion" name="fechaCreacion" formControlName="creationDate" >
                                                <div class="input-group-addon">
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nombres</label>
                                        <input type="text" id="name" formControlName="name" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Apellidos</label>
                                        <input type="text" id="lastname" formControlName="lastname" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nombre de usuario</label>
                                        <input type="text" id="username"  formControlName="username" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Número de identificación</label>
                                        <input type="text" id="document" formControlName="document"  class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                             
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Correo Electrónico</label>
                                        <input type="text" id="email" formControlName="email" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" id="telefono" formControlName="telefono" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Contraseña</label>
                                        <input type="password" id="password" formControlName="password"  class="form-control" >                                    
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Rol de usuario</label>
                                      <br>
                                      <select formControlName="select-rol" id="select-rol" class="form-control">
                                        <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.name }}</option>
                                      </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                      <label>Pais</label>
                                      <select formControlName="select-pais" id="select-pais" (change)="onSelectPais($event.target.value)" class="form-control">
                                        <option value="">Seleccionar país</option>
                                        <option *ngFor="let pais of paises" [value]="pais.id">{{ pais.name }}</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <select formControlName="select-ciudad" id="select-ciudad" [disabled]="usuariosEditarForm.controls['select-pais'].value === ''" class="form-control">
                                            <option value="">Seleccionar ciudad</option>
                                            <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ ciudad.name }}</option>
                                        </select>
                                    </div>
                                </div>    
                            </div>
                                                       
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="boton-rojo" (click)="openDialog()">Guardar</button>                          
                                </div>
                                <div class="col-md-3">
                                    <button routerLink="/usuariosGrid" class="boton-gris">Cancelar</button>                                
                                </div>
                            </div>
                                    
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
