 nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease, transform 0.5s ease;
  z-index: 2;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

}

.navbar-transparent {
  background-color: transparent;
}

.navbar-dark {
  background-color: white;
}
.navbar-dark .nav-links a{
  color: #38B;
}
.nav-links a {
  transition: color 0.3s ease;
}

.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
}