<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card" [@carduserprofile]>
        <div class="header">
          <h4 class="title">Edit Profile</h4>
        </div>
        <div class="content">
          <form #form="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" disabled placeholder="Company" value="Creative Code Inc.">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required placeholder="Username" [(ngModel)]="formData.username">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="formData.email">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Company" [(ngModel)]="formData.firstName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" [(ngModel)]="formData.lastName">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Home Address" [(ngModel)]="formData.address">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" name="city" placeholder="City" [(ngModel)]="formData.city">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" name="country" placeholder="Country" [(ngModel)]="formData.country">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="postCode">Postal Code</label>
                  <input type="number" class="form-control" id="postCode" name="postCode" placeholder="ZIP Code" [(ngModel)]="formData.postCode">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="aboutMe">About Me</label>
                  <textarea rows="5" class="form-control" id="aboutMe" name="aboutMe" placeholder="Here can be your description" [(ngModel)]="formData.aboutMe"></textarea>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-info btn-fill pull-right">Update Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-4" [@cardprofile]>
      <lbd-user-profile
        [backgroundImage]="'https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400'"
        [avatarImage]="'assets/img/faces/face-3.jpg'"
        [name]="'Mike Andrew'"
        [username]="'michael24'"
        [about]="userAbout">
      </lbd-user-profile>
    </div>

  </div>
</div>
