<div class="sidebar" [attr.data-color]="backgroundColor" [attr.data-image]="backgroundImg || null">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a [href]="headerLink" class="simple-text">
        <div *ngIf="headerLogoImg" class="logo-img">
          <img [src]="headerLogoImg"/>
        </div>
        {{ headerText }}
      </a>
    </div>

    <lbd-sidebar-items [navItems]="navbarItems" [navbarClass]="'nav-mobile-menu'" [showSeparator]="true"></lbd-sidebar-items>
    <lbd-sidebar-items [navItems]="sidebarItems" [showSeparator]="false"></lbd-sidebar-items>
  </div>

  <div *ngIf="backgroundImg" class="sidebar-background" [ngStyle]="backgroundStyle"></div>
</div>
