<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><b>Formación Matrimonios</b> <a href="" class="link-warning">  Descargar base</a></h4>                                    
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Filtrar por fecha</label>
                                    <input type="date" class="form-control" placeholder="Filtrar por fecha" value="Mike">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Buscar</label>
                                    <input type="text" class="form-control" placeholder="" value="">                        
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <a  routerLink="/nuevoMatrimonio" type="submit" class="boton-rojo pull-right">Crear nuevo</a>                                
                                </div>
                            </div>
                    </div>             
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Fecha</th>
                                    <th>#FDS</th>
                                    <th>#Matrimonios</th>
                                    <th>#Sacerdotes</th>
                                    <th>#Religiosos</th>   
                                    <th>#Religiosas</th>   
                                    <th>Acciones</th>                                    
                                </tr>
                            </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData1.dataRows; let i=index">
                                        <td *ngFor="let cell of row">{{cell}}</td>
                                        <td>
                                            <button (click)="editRow(i)">
                                                <i class="fas fa-edit"></i>
                                            </button>    
                                            <button (click)="deleteRow(i)">
                                                <i class="fas fa-trash"></i>
                                            </button>                                     
                                        </td>   
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
