
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12" [@cardtable1]>
      <lbd-table
        [title]="'Striped Table with Hover'"
        [subtitle]="'Here is a subtitle for this table'"
        [data]="tableData">
      </lbd-table>
    </div>

    <div class="col-md-12" [@cardtable2]>
      <lbd-table
        [title]="'Table on Plain Background'"
        [subtitle]="'Here is a subtitle for this table'"
        [cardClass]="'card-plain'"
        [data]="tableData">
      </lbd-table>
    </div>


  </div>
</div>
