<div class="d-flex justify-content-between align-items-center mb-3">
    <input type="text" class="form-control w-50" placeholder="Rechercher..." [(ngModel)]="searchTerm" (input)="onSearchChange()">
  </div>
  
  <nav *ngIf="totalPages > 1">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <a class="page-link" (click)="onPageChange(currentPage - 1)">Précédent</a>
      </li>
  
      <li *ngFor="let page of pages()" class="page-item" [class.active]="page === currentPage">
        <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
      </li>
  
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <a class="page-link" (click)="onPageChange(currentPage + 1)">Suivant</a>
      </li>
    </ul>
  </nav>
  