
<div class="sidebar-wrapper">
        <div class="logo">            
            <div class="logo">
                <a href="https://encuentromatrimonial.com/" class="simple-text">
                    <div>
                        <img src="/assets/img/encuentro_logo3.png" width="200" height="90"/>
                    </div>
                </a>
            </div>
        </div>

        <ul class="nav responsive-nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <a  [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    <p>{{menuItem.title}}</p>
                </a>               
            </li>

        </ul>
    </div>