<div class="sidebar-wrapper" style="background: linear-gradient(to bottom, #336699, #3388BB, #335577, #3377AA); color: white;">
  <div class="logo">
    <div class="simple-text">Dashboard Admin</div>
  </div>

  <ul class="nav responsive-nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
      <a [routerLink]="[menuItem.path]">
        <i class="{{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
  <div class="p-3">
    <button (click)="logout()" class="btn btn-outline-light w-100 d-flex align-items-center justify-content-center gap-2 rounded-pill">
      <i class="fa fa-sign-out-alt"></i>
      <span>Déconnexion</span>
    </button>
  </div>
</div>
