<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><b>Crear Usuario</b></h4>
                    </div>
                    <div class="content">
                        <form #formularioUsuario ="ngForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Nombres</label>
                                        <input type="text" id="name" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Apellidos</label>
                                        <input type="text" id="lastname" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Nombre de usuario</label>
                                        <input type="text" id="nombreUsuario"  class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Número de identificación</label>
                                        <input type="text" id="document"  class="form-control" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                      
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">N° Telefono</label>
                                        <input type="text" id="telefono"  class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Correo Electrónico</label>
                                        <input type="text" id="email" class="form-control" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Rol de usuario</label>
                                        <br>
                                        <select name="rol" id="rol" class="form-control">
                                            <option value="1">Rol admin</option>
                                            <option value="2">Rol usuario</option>
                                            <option value="3">Rol diosesano</option>
                                            <option value="4">Rol regional</option>
                                            <option value="5">Rol zonal</option>
                                            <option value="6">Rol latam</option>                                        
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="select-pais" class="letra">Pais</label>
                                        <select id="select-pais" (change)="onSelectPais($event.target.value)" class="form-control">
                                            <option value="" disabled selected>Seleccione un pais</option>
                                          <option *ngFor="let pais of paises" [value]="pais.id">{{pais.nombre}}</option>
                                        </select>
                                      </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Ciudad</label>
                                        <select type="text" id="select-ciudad" class="form-control" [disabled]="!selectedPais" [(ngModel)]="selectedCiudad">
                                          <option value="" disabled selected>Selecciona una ciudad</option>
                                          <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.name}}</option>
                                        </select>
                                      </div>
                                  </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Contraseña</label>
                                        <input type="password" id="password" class="form-control" >
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="boton-rojo" (click)="openDialog()">Crear nuevo</button>
                                </div>
                                <div class="col-md-3">
                                    <button routerLink="/usuariosGrid" class="boton-gris">Cancelar</button>
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
