.tm-hero-logoo {
  width: 20px;       
  height: 20px;
  margin-bottom: 15px;
  animation: fadeIn 1.2s ease-in-out;
  display: inline-block;
}
.custom-figure-bg::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  opacity: 0.4;
  z-index: 1;
}
.custom-figure-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  padding: 10px;
}

.foreground-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}
.product-card {
  background-color: white;
  figcaption h2 span {
    color: #357;
  }
}

.circle-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f9fc;
}

.circular-menu {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;

  .center-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#357;
    color: white;
    font-size: 22px;
    padding: 20px 30px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 2;
    font-weight: bold;
  }

  .menu-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background-color: white;
    padding: 12px 18px;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.8s ease;
    font-size: 16px;
    font-weight: 600;
    color: #357;
  }

  &.open .menu-item {
    transition-delay: 0.1s;
  }
}
.btn-voir-tous-les-produits{
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

.btn-tous-produits{
  height: 65px;
  background-color: #38B;
  color: white;
  border-radius: 16px;
  text-align: center;
  border: 2px solid #38B;
  font-weight: 600;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  animation: saut 2s infinite;
}
@keyframes saut{
  0%,20%,50%,60%,100% {
    transform:translateY(0);
  }
  40%{
    transform: translateY(15px);

  }
  80%{
    transform: translateY(15px);
  }
}


