<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><b>Crear Nuevo</b></h4>
                    </div>                    
                    <div class="content">
                        <form #formularioSacerdote="ngForm">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="letra">Fecha</label>
                                            <div class="input-group date" data-provide="datepicker">
                                              <input type="date" class="form-control" id ="fechaCreacion" name="fechaCreacion">
                                              <div class="input-group-addon">
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Jornadas de Diálogo</label>
                                        <br>
                                        <input type="text" id="jornadaDialogo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Retorno Espiritual</label>
                                        <br>
                                        <input type="text" id="retornoEspiritual" name="numFdsPostPeriodo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Lenguajes del Amor</label>
                                        <br>
                                        <input type="text" id="lenguajeAmor" name="numMatrimonioVivieron" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Guiar a través de la relación</label>
                                        <br>
                                        <input type="text" id="guiaDeRelacion" name="numComunidadApoyo" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Sacramentos</label>
                                        <br>
                                        <input type="text" id="sacramento" name="numServiciosComunidad" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Dias en nuestro sacramento</label>
                                        <br>
                                        <input type="text" id="diosEnSacramento" name="numMatrimoiosComunidad" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Dios en nuestras vídas</label>
                                        <br>
                                        <input type="text" id="diosEnVida" name="numComunidadApoyo" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Patrones de comportamiento</label>
                                        <br>
                                        <input type="text" id="patronesComportamiento" name="numServiciosComunidad" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Dialogo profundo</label>
                                        <br>
                                        <input type="text" id="dialogoProfundo" name="numMatrimoiosComunidad" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Servidores de post encuentro</label>
                                        <br>
                                        <input type="text" id="servidoresPostEncuentro" name="servidoresPostEncuentro" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Formación para acompañantes</label>
                                        <br>
                                        <input type="text" id="formacionAcompanantes" name="formacionAcompanantes" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">El Padre nuestro</label>
                                        <br>
                                        <input type="text" id="padreNuestro" name="padreNuestro" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Trasmisión nacional</label>
                                        <br>
                                        <input type="text" id="transmisionNacional" name="transmisionNacional" class="form-control">
                                    </div>
                                </div>  
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="select-pais" class="letra">Pais</label>
                                        <select id="select-pais" (change)="onSelectPais($event.target.value)" class="form-control">
                                            <option value="" disabled selected>Seleccione un pais</option>
                                        <option *ngFor="let pais of paises" [value]="pais.id">{{pais.nombre}}</option>
                                        </select>
                                    </div>
                                 </div>  
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="letra">Ciudad</label>
                                        <select type="text" id="select-ciudad" class="form-control" [disabled]="!selectedPais" [(ngModel)]="selectedCiudad">
                                          <option value="" disabled selected>Selecciona una ciudad</option>
                                          <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">{{ciudad.name}}</option>
                                        </select>
                                      </div>
                                </div>                                
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="submit" class="boton-rojo" (click)="openDialog()">Crear nuevo</button>
                                </div>
                                <div class="col-md-3">
                                    <button routerLink="/sacerdotesGrid" class="boton-gris">Cancelar</button>                                
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
