
.carousel-container {
 height: 100%;
  width: 100%;
  
background-image: url(/assets/img/HomeCarousselBackground.png); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1400px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.fade {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.left-content {
  color: white;
  width: 50%;
}

.title {
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0 0 15px;
}

.subtitle {
  font-size: 1.5rem;
  color: #369;
  margin-bottom: 10px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.button-wrapper {
  margin-top: 10px;
}

.button-wrapper button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-wrapper button:hover {
  background-color: #0056b3;
}

.right-image {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ffffff96;
}

.dots {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 10px;
}

.dots span {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dots span.active {
  background-color: white;
  transform: scale(1.4);
}

.scroll-arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  animation: saut 2s infinite;
}

@keyframes saut{
  0%,20%,50%,80%,100% {
    transform:translateY(0);
  }
  40%{
    transform: translateY(15px);

  }
  60%{
    transform: translateY(15px);
  }
}

.scroll-arrow img {
  width: 40px;
  height: 40px;
}