<footer class="text-center small tm-footer">
    <br>
    <br>
  <div class="social-icons mt-2">
    <a href="https://bit.ly/3ZHgZvz" target="_blank" class="mx-2" title="Facebook">
      <i class="fab fa-facebook-f fa-lg"></i>
    </a>
    <a href="https://bit.ly/4kIyUKB" target="_blank" class="mx-2" title="LinkedIn">
      <i class="fab fa-linkedin-in fa-lg"></i>
    </a>
    <a href="https://bit.ly/44VrP4J" target="_blank" class="mx-2" title="Instagram">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
  </div>
  <p class="mb-2">
    Copyright &copy; 2025 <strong>TUNAV IT GROUP</strong><br>
  </p>
</footer>

<style>
  .social-icons a[title="Facebook"] i {
    color: #1877F2;
  }

  .social-icons a[title="LinkedIn"] i {
    color: #0077B5;
  }

  .social-icons a[title="Instagram"] i {
    color: #E1306C;
  }
</style>
