<div class="main-content">
    <div class="container-fluid">
        <div class="row">
           


            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Finalidad del sistema</h4>
                        <p class="category">Gestion pilares Encuentro Matrimonial Mundial</p>
                    </div>
                    <div class="content">
                        <div class="footer">
                            <hr>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p class="stats" style='text-align:center'>La finalidad del sistema de información facilitar la recopilación, almacenamiento y distribución de datos e información dentro de la organización Encuentros Matimoniales</p>
                            <br>
                            <br>
                            <br>
                            <br>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>
