@media (min-width: 992px){
  .typo-line{
    padding-left: 140px;
    margin-bottom: 40px;
    position: relative;
  }

  .typo-line .category{
    transform: translateY(-50%);
    top: 50%;
    left: 0px;
    position: absolute;
  }
}
